<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Ratings Form</title>
    <script src="/ratingsConfirm.js" defer></script>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
	<h1>Ratings Form</h1>
        <!-- Form submission is handled by ratingsConfirm.js; no action or method needed. -->
<form>
            <fieldset>
                <strong>Your Name: </strong><input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>
                <strong>Most Favorite Pokemon: </strong><input type="text" id="first" placeholder="Name or Number"> <br><br>
                <strong>Second Favorite Pokemon: </strong><input type="text" id="second" placeholder="Name or Number"> <br><br>
                <strong>Third Favorite Pokemon: </strong><input type="text" id="third" placeholder="Name or Number"> <br><br>
                <strong>Fourth Favorite Pokemon: </strong><input type="text" id="fourth" placeholder="Name or Number"> <br><br>
                <strong>Fifth Favorite Pokemon: </strong><input type="text" id="fifth" placeholder="Name or Number"> <br><br>
            </fieldset>
            <br><input type="reset"> <input type="submit" value="Submit Pokemon Ratings">
        </form>
    <hr>
    <a href="/">POKEDEX</a>
    
</body>

</html>
